<configuration>
    <property name="ANDROID_DIR" value="${DATA_DIR}/logs"/>
    <property name="PC_DIR" value="${user.home}/${project.name}/logs"/>
    <property name="LOGVIEWER_SEARCH_DIR" value="${ANDROID_DIR}"
              scope="system"/>

    <if condition='"${log.debug}" === "false" || "${log.debug}" === "log.debug_IS_UNDEFINED"'>
        <then>
            <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
        </then>
    </if>

    <if condition='"${log.platform}" === "ANDROID"'>
        <then>
            <appender name="console" class="ch.qos.logback.classic.android.LogcatAppender">
                <tagEncoder>
                    <pattern>%logger{12}</pattern>
                </tagEncoder>
                <encoder>
                    <pattern>[%thread] [%logger{36}] %msg</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
                <tagEncoder>
                    <pattern>%logger{12}</pattern>
                </tagEncoder>
                <encoder>
                    <pattern>[%date{yyyy-M-d HH:mm:ss.SSS}] [%level] [%thread] %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${${log.platform}_DIR}/applog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>applog-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>350MB</totalSizeCap>
        </rollingPolicy>
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%date{yyyy-M-d HH:mm:ss.SSS}] [%logger{36}] [%level] [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="crash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${${log.platform}_DIR}/crash.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>crash-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>350MB</totalSizeCap>
        </rollingPolicy>
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%date{yyyy-M-d HH:mm:ss.SSS}] [%logger{36}] [%level] [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

    <logger name="crash" level="INFO" additivity="false">
        <appender-ref ref="crash"/>
    </logger>
</configuration>